<div class="about">
<div class="about__devider">*****</div>
<div class="about__text">
<br>
  <font size="5">
<a style="color:#ea8d42;" href="{{ '/tinyjump' | prepend: site.baseurl }}">Tiny Jump</a> | <a style="color:#6dc6f4;" href="{{ '/tinyset' | prepend: site.baseurl }}">Tiny Set</a>
  </font>
<br>
<br> <a href="{{ '/privacypolicy' | prepend: site.baseurl }}">Privacy Policy</a>
<br> ©2021 Studio444. ALL RIGHTS RESERVED.
<br> All trademarks referenced herein are the properties of their respective owners.
</div>
</div>
